@color: red;
@borderColor: {
  xl: #dddddd;
  xxl: #ffffff
};
.link {
  font-size: 12px;
  /**
     The following statement will be transfer
    .white .link,
    .white.link {
      color: #dddddd;
    }
    .black .link,
    .black.link {
      color: #ffffff;
    }
   */
  color: theme({
    white: #dddddd;
    black: #ffffff;
  });
  /**
     The following statement will be transfer
    .xl .link,
    .xl.link {
      border-color: #dddddd;
    }
    .xxl .link,
    .xxl.link {
      border-color: #ffffff;
    }
   */
  border-color: theme(@borderColor);
  background-color: theme({
    white: #dddddd;
    black: #123456;
  });
  a {
    .hello {
      &.h {
        .white &, .white& {
          color: @color;
        }
      }
    }
  }
}


